.header {
    width: 100%;
    height: 60vh;
    background-image: url('../assest/building-g93909af1e_1920.jpg');
    color: white;
    display: flex;
    justify-content: center;
    position: relative;

}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.col-1 {
    padding: 1rem 1rem 1rem 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primary-color {
    font-size: 42px;
    font-weight: 700;
    color: #003580;
}

.headDesc {
    color: black;
}